.header {
    background-color: #f4f4f4;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.logo img {
    margin-right: 1rem;
}

.navList {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navList li {
    margin: 0 1rem;
}